::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5b5b5b;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1; 
  }